.container {
    max-width: 1200px;
}


.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-menu {
    display:none;
    position:absolute;
    z-index:1;
}

.nav-link:hover .dropdown-menu {
    display:block
}

/* #header {
    box-shadow: 1px 1px 10px grey;
}

.jumbotron #header:hover{
    text-decoration: none;
} */

h1 .login {
    text-align:left;
}

.col-7 {
    max-width: 100%;
}

.jumbotron {
    padding: 1rem;
    /* max-height:500px; */
}

.jumbotron h1 {
    font-size:2rem;
}

.article-infos {
    text-align: center;
}

.display-3 {
    font-size:3.5rem;
}

.fa-sign-in-alt {
    color:white;
    font-size:2rem;
    font-weight:500;
}

.section-row {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-row .col-3 {
    margin-bottom: 1.5rem;
}

/* .section-row .col-3 .list-group {
    width: 240px;
}

.section-row .col-3 .list-group a {
    height: 100px;
} */

.section-row .col-3 .list-group h5 {
    font-size: 0.7rem;
}

.section-row .col-3 .list-group p {
    color:#919aa1!important;
    font-size: 0.6rem;
}

.mt-4, .my-4 {
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;

}




/* API */
.api-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

img {
    width:100%;
    height:100%;
    object-fit:cover;
}

