.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-menu {
    display:none;
    position:absolute;
    z-index:1;
}

.nav-link:hover .dropdown-menu {
    display:block
}

h1 .login {
    text-align:left;
}

.col-7 {
    max-width: 100%;
}

.jumbotron {
    padding: 2rem;
}

.display-3 {
    font-size:3.5rem;
}

.fa-sign-in-alt {
    color:white;
    font-size:2rem;
    font-weight:500;
}


