{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

<section class="articles">
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">
            Érit le 24/11/2020 à 10:29 dans la catégorie Société
        </div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod, odit unde! Magni iste culpa maxime?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod, odit unde! Magni iste culpa maxime?</p>
                <a href="{{ path('front_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">
            Érit le 24/11/2020 à 10:29 dans la catégorie Société
        </div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod, odit unde! Magni iste culpa maxime?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod, odit unde! Magni iste culpa maxime?</p>
                <a href="{{ path('front_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">
            Érit le 24/11/2020 à 10:29 dans la catégorie Société
        </div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod, odit unde! Magni iste culpa maxime?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod, odit unde! Magni iste culpa maxime?</p>
                <a href="{{ path('front_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
</section>
{% endblock %}
