{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">
            Érit le 24/11/2020 à 10:29 dans la catégorie Société
        </div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod, odit unde! Magni iste culpa maxime?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod, odit unde! Magni iste culpa maxime?</p>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sunt facilis ab officia magni est natus eos.
                Aperiam tenetur architecto optio, molestiae rerum aspernatur, beatae reiciendis quos distinctio impedit officiis
                non voluptatibus tempora blanditiis quisquam numquam sit ipsam culpa
                sed voluptate! Veniam quibusdam natus autem error nam et rerum
                expedita!</p>
            <p>Provident mollitia, commodi voluptate, delectus laborum officia, sequi totam fuga eaque
                dolor quam natus labore culpa incidunt sed sit magnam suscipit voluptas.
                Perspiciatis ratione nemo obcaecati, eaque aperiam, quas vel quis quaerat iste
                delectus voluptatibus voluptatem quia labore unde fugiat, amet beatae cumque.
                Voluptatibus dolore facilis laboriosam atque eaque! Id.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eum ut delectus
                adipisci repellat. Dolores doloremque facilis, voluptates facere non minima,
                eaque modi repellendus accusantium animi magnam tempora fuga libero ea.
                Perspiciatis vitae accusamus natus accusantium dolorum ut sapiente earum dolorem,
                eius doloremque dolores suscipit itaque facere optio vel saepe beatae ullam sed
                quam nihil nesciunt quibusdam temporibus molestiae cum! Magnam natus quisquam
                debitis consectetur numquam provident sed quo illum obcaecati corporis animi
                tempore, harum unde incidunt ullam, et minus rem est exercitationem dignissimos
                rerum deleniti sunt? Quod repellendus earum fugit optio eum molestias repudiandae,
                ex placeat, delectus ipsam accusamus quam voluptate, ab assumenda sapiente nihil.
                Eligendi impedit dolorem modi voluptas iure nulla incidunt, quia nisi enim recusandae
                totam perspiciatis, laudantium architecto commodi tempora vel laborum! Corrupti,
                tempora perferendis. Aut esse non quos harum, optio dolorum laborum enim officiis
                nam necessitatibus provident ipsa fuga quae, alias, ex quod ea. Dolorum!</p>
        </div>
    </article>

{% endblock %}